.hidden-browse-container {
    position: relative;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: opacity 0.3s, transform 0.3s ease, bottom 0.3s;
    opacity: 0;
    width: 100%;
}

.visible-browse {
    flex-grow: 1;
    opacity: 1;
    width: 100%;
    height: calc(100% - 165px);
    transform: translate(-50%, 0%);
}

@media only screen and (min-width: 1000px) {
    .hidden-browse-container {
        position: relative;
        left: 50%;
        bottom: -50vh;
        opacity: 0;
        transform: translate(-50%, 100%);
        transition: opacity 0.3s, transform 0.3s ease, bottom 0.3s;
    }

    .visible-browse {
        flex-grow: 1;
        opacity: 1;
        width: 100%;
        bottom: 0;
        height: calc(100vh - 56px);
        transform: translate(-50%, 0%);
    }
}

.browse-button,
.browse-button:visited,
.browse-button:focus {
    background-color: #784c92;
    color: white;
    border-radius: 12px;
    height: 38px;
    width: 100px;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 5px;

}

.browse-button:hover {
    background-color: #D5B5E8;
    text-decoration: none;
    color: #784c92;
}


.home-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% + 40px);
    left: calc(50% - 115px);
    flex-grow: 1;
}
