.product-container {
    display: flex;
    align-items: top;
    justify-content: center;
    height: auto ;
}

.product-containerr {
    display: flex;
    align-items: top;
    justify-content: center;
    height: auto;
}
.image-container {
    display: flex;
    justify-content: top;
    align-items: top;
    width: auto;
    height: auto;
    margin-right: auto;
}

.image-containerr {
    display: flex;
    justify-content: top;
    align-items: top;
    width: 500px;
    height: 500px;
    margin-right: auto;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}
.image-container img {
    max-width: auto;
    max-height: auto;
    object-fit: contain;
}

.image-containerr img {
    max-width: auto;
    max-height: auto;
    object-fit: contain;
}

.description-container {
    flex-grow: auto;
    padding-left: auto;
}

.nav-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.middle-section {
    display: flex;
    align-items: center;
}
*{
    border-radius: 10px;
}