.register-container {
  height: calc(100vh - 56px);
  display: flex;
  align-content: center;
  justify-content: flex-start;

  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  .register-container {
    height: calc(100% - 165px);
    justify-content: center;
  }
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 37px;
  margin-bottom: 20px;
}

.input-wrapper {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  display: block;
  margin-bottom: 5px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-align: left;
}

.sign-up-header {
  color: #784c92;
}

.sign-up-inputs {
  width: 400px;
  height: 40px;
  padding-left: 15px;
  font-size: 16px;
  border-radius: 15px;
  border: 2px solid #784c92;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sign-up-labels {
  color: #784c92;
}

.register-button {
  background-color: #784c92;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 12px;
  width: 120px;
}

.register-button:hover {
  background-color: #d5b5e8;
  color: #784c92;
}
