.dropdown-container {
    text-align: left;
    border: 2px solid #784c92;
    position: relative;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.dropdown-input {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    width: 100px;
}

.dropdown-menu {
    position: absolute;
    transform: translateY(4px);
    width: 100%;
    border: 1px solid #cccccc;
    border-right: 5px;
    overflow: auto;
    max-height: 150px;
    background-color: #ffffff;
}

.dropdown-item {
    padding: 5px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #9fc3f870;
}

.dropdown-item.selected {
    background-color: #0d6efd;
    color: #ffffff;
}