.gallery-card-container {
    display: flex;
    background-color: gray;
    flex-direction: column;
    height: 250px;
    width: 250px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.gallery-card-image-container {
    max-width: 100%;
    max-height: 50%;
    width: auto;
    height: auto;
}