.show {
    border-radius: 30px;
    background-color:#d5b5e8;
    transition: 800ms;
    opacity:1;
    z-index: auto;
    display: flex;
    border: 2px solid #784c92;
}

.show.active {
    transform: translateY(0px) scale(0) rotateY(180deg);
    opacity:0;
}

.login-text {
    color: #784c92;
}

.login-btn {
    background-color: #784c92;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .login-btn:hover {
    background-color: #d5b5e8;
      color: #784c92;
  }


  .login-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 0 auto;
    width: 800px;
    text-align: center;
  }

.login-box,
.login-box:focus {
    outline: none !important;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #784c92;
    margin-bottom: 5px;
    width: 90%;

}

.usr-name {
    color: #784c92;
}
