.main-category-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 34px;
}

@media only screen and (max-width: 1000px) {
    .main-category-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        overflow-x: auto;
    }
}

.main-category-button:hover {
    background-color: transparent;
    text-decoration: none;
    color: #999999;
}

.main-category-button,
.main-category-button:visited,
.main-category-button:focus {
    border: none;
    background-color: transparent;
    margin-right: 5px;
    margin-left: 5px;
    color: black;
    transition-duration: 0.2s;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    font-weight: bolder;
}

