.navbar-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
}

.logo {
    max-width: 200px;
}

.search-input,
.search-input:focus {
    background-image: url('../images/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    outline: none !important;
    min-height: 40px;
    min-width: 300px;
    border: 2px solid #784c92;
    border-radius: 4px;
    padding-left: 10px;
}

@media only screen and (min-width: 1000px) {
    .navbar-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .search-input,
    .search-input:focus {
        background-image: url('../images/search.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        outline: none !important;
        min-height: 50px;
        min-width: 550px;
        border: 2px solid #784c92;
        border-radius: 4px;
        padding-left: 50px;
    }
}



.navbar-button:hover {
    background-color: #D5B5E8;
    text-decoration: none;
    color: #784c92;
}

.navbar-button,
.navbar-button:visited,
.navbar-button:focus {
    margin-right: 5px;
    margin-left: 5px;
    background-color: #784c92;
    color: white;
    transition-duration: 0.2s;
    border-radius: 12px;
    padding: 12px 28px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

