.navbar-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    gap: 5px;
}

.logo {
    max-width: 100px;
    margin: 5px;
}


@media only screen and (min-width: 1000px) {
    .navbar-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.search-input,
.search-input:focus {
    outline: none !important;
    background-image: url('../images/search.png');
    background-size: 20px;
    background-position: 15px 15px;
    background-repeat: no-repeat;
    padding-left: 50px;
    width: 80%;
    min-width: 300px;
    max-width: 500px;
    border: 2px solid #784c92;
    border-radius: 25px;
    display: flex;
    z-index: 3;
    box-shadow: none;
    height: 50px;
}

.navbar-button,
.navbar-button:visited,
.navbar-button:focus {
    margin-right: 5px;
    margin-left: 5px;
    background-color: #784c92;
    color: white;
    transition-duration: 0.2s;
    border-radius: 12px;
    height: 38px;
    width: 100px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.navbar-button-message{
    background-color: #784c92;
    color: white;
    transition-duration: 0.2s;
    border-radius: 12px;
    height: 38px;
    width: 100px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.navbar-button:hover {
    background-color: #D5B5E8;
    text-decoration: none;
    color: #784c92;
}

.hidden-login-container {
    position: fixed;
    opacity: 1;
    left: 200vw;
    top: 200vh;
    z-index: 2;
}

.visible-login {
    opacity: 1;
    left: calc(50vw - 250px);
    top: calc(50vh - 200px);
    width: 500px;
    height: 400px;
}
.hidden-messages-container {
    position: fixed;
    opacity: 1;
    left: 200vw;
    top: 200vh;
    z-index: 2;
}

.visible-messages {
    opacity: 1;
    left: calc(50vw - 250px);
    top: calc(50vh - 200px);
    width: 500px;
    height: 400px;
}
