.page-area {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remaining-page {
    height: 100%;
    width: 100%;
}

.main-body {
    overflow: hidden;
}