* {
    font-family: 'Yaldevi Colombo', sans-serif;
}

.search-browse-container {
}

.search-bar-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transition: top 0.3s ease;
    transform: translate(-50%, -50%);
}

.visible-search {
    top: 58px;
}

.search-input {
    width: 600px;
    height: 20px;
}

.browse-container {
    position: fixed;
    bottom: -100%; /* Initially off-screen */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s, bottom 0.3s;
    width: 75%;
    height: 90%;
}

.visible-browse {
    opacity: 1;
    bottom: 0;
}

.browse-button:hover {
    background-color: #D5B5E8;
    text-decoration: none;
    color: #784c92;
}

.browse-button,
.browse-button:visited,
.browse-button:focus {
    background-color: #784c92;
    color: white;
    transition-duration: 0.2s;
    border-radius: 12px;
    padding: 12px 28px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    top: calc(50% + 40px);
    left: calc(50% - 55px);
}

