body {
  margin: 0;
  font-family: 'Yaldevi Colombo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background: radial-gradient(ellipse at center top, #ffffff, #d9d9d9, #d5b5e8, #D19FE5);
}

#root {
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
